@charset "UTF-8";

@font-face {
  font-family: DINPro;
  font-display: swap;
  src: url("../fonts/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: DINPro;
  font-display: swap;
  src: url("../fonts/DINPro-Light.woff2") format("woff2"), url("../fonts/DINPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: DINPro;
  font-display: swap;
  src: url("../fonts/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DINPro;
  font-display: swap;
  src: url("../fonts/DINPro.woff2") format("woff2"), url("../fonts/DINPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.product__next::after,
.product__prev::after,
.menu-header__search::after,
.location-info__title::before,
#search-popup__submit::after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-category-corndogs:before {
  content: "\e901";
}

._icon-category-drinks:before {
  content: "\e902";
}

._icon-category-pizza:before {
  content: "\e903";
}

._icon-category-rolls:before {
  content: "\e904";
}

._icon-category-salads:before {
  content: "\e905";
}

._icon-category-sets:before {
  content: "\e906";
}

._icon-category-shares:before {
  content: "\e907";
}

._icon-category-soups:before {
  content: "\e908";
}

._icon-category-sushi:before {
  content: "\e909";
}

._icon-category-wok:before {
  content: "\e90a";
}

._icon-clock:before {
  content: "\e90b";
}

._icon-footer-cart:before {
  content: "\e90c";
}

._icon-footer-menu:before {
  content: "\e90d";
}

._icon-footer-reviews:before {
  content: "\e90e";
}

._icon-location:before {
  content: "\e90f";
}

._icon-ordering-card:before {
  content: "\e910";
}

._icon-ordering-check:before {
  content: "\e911";
}

._icon-ordering-wallet:before {
  content: "\e912";
}

._icon-plus:before {
  content: "\e913";
}

._icon-search:before {
  content: "\e914";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "DINPro";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "DINPro";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.page {
  background-color: #f2f2f2;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 13.75rem) 1fr minmax(auto, 23.125rem);
  grid-template-columns: minmax(auto, 13.75rem) 1fr minmax(auto, 23.125rem);
}

.wrapper__column {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper__column > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper__column > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 61.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  background-color: #f46d40;
  color: #f2f2f2;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.sidebar-menu {
  background-color: #fff;
}

@supports (padding-top: clamp( 0.9375rem , 0.6476449275rem  +  1.4492753623vw , 1.5625rem )) {
  .sidebar-menu {
    padding-top: clamp( 0.9375rem , 0.6476449275rem  +  1.4492753623vw , 1.5625rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6476449275rem  +  1.4492753623vw , 1.5625rem )) {
  .sidebar-menu {
    padding-top: calc(0.9375rem + 0.625 * (100vw - 20rem) / 43.125);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6476449275rem  +  1.4492753623vw , 1.5625rem )) {
  .sidebar-menu {
    padding-bottom: clamp( 0.9375rem , 0.6476449275rem  +  1.4492753623vw , 1.5625rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6476449275rem  +  1.4492753623vw , 1.5625rem )) {
  .sidebar-menu {
    padding-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 43.125);
  }
}

.sidebar-menu__logo {
  margin: 0px 0px 2.1875rem 0px;
  text-align: center;
}

.sidebar-menu__image {
  display: inline-block;
  width: 6.25rem;
  height: 6.25rem;
}

.sidebar-menu__image:not(:last-child) {
  margin-bottom: 0.625rem;
}

.sidebar-menu__image img {
  max-width: 100%;
}

.sidebar-menu__text {
  font-size: 1.875rem;
  line-height: 1;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.5rem , 0.5769230769rem  +  1.4423076923vw , 1.875rem )) {
  .sidebar-menu__text {
    font-size: clamp( 1.5rem , 0.5769230769rem  +  1.4423076923vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 0.5769230769rem  +  1.4423076923vw , 1.875rem )) {
  .sidebar-menu__text {
    font-size: calc(1.5rem + 0.375 * (100vw - 64rem) / 26);
  }
}

.sidebar-menu__menu::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 1px;
  background: #a4acad;
}

.sidebar-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  padding: 1.875rem 0px 0px 0px;
}

@supports (padding-left: clamp( 0.625rem , 0.0452898551rem  +  2.8985507246vw , 1.875rem )) {
  .sidebar-menu__list {
    padding-left: clamp( 0.625rem , 0.0452898551rem  +  2.8985507246vw , 1.875rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.0452898551rem  +  2.8985507246vw , 1.875rem )) {
  .sidebar-menu__list {
    padding-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 43.125);
  }
}

.sidebar-menu__item-link {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 30px 1fr;
  grid-template-columns: 30px 1fr;
  line-height: 1.25;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (gap: clamp( 0.625rem , -2.4519230769rem  +  4.8076923077vw , 1.875rem )) {
  .sidebar-menu__item-link {
    gap: clamp( 0.625rem , -2.4519230769rem  +  4.8076923077vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.625rem , -2.4519230769rem  +  4.8076923077vw , 1.875rem )) {
  .sidebar-menu__item-link {
    gap: calc(0.625rem + 1.25 * (100vw - 64rem) / 26);
  }
}

@supports (font-size: clamp( 1.25rem , 0.6346153846rem  +  0.9615384615vw , 1.5rem )) {
  .sidebar-menu__item-link {
    font-size: clamp( 1.25rem , 0.6346153846rem  +  0.9615384615vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.6346153846rem  +  0.9615384615vw , 1.5rem )) {
  .sidebar-menu__item-link {
    font-size: calc(1.25rem + 0.25 * (100vw - 64rem) / 26);
  }
}

.sidebar-menu__item-link::before {
  color: #a4acad;
  text-align: center;
  -webkit-transform: translate(0px, 5%);
      -ms-transform: translate(0px, 5%);
          transform: translate(0px, 5%);
}

@supports (font-size: clamp( 1.25rem , 0.0648148148rem  +  1.8518518519vw , 1.5rem )) {
  .sidebar-menu__item-link::before {
    font-size: clamp( 1.25rem , 0.0648148148rem  +  1.8518518519vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.0648148148rem  +  1.8518518519vw , 1.5rem )) {
  .sidebar-menu__item-link::before {
    font-size: calc(1.25rem + 0.25 * (100vw - 64rem) / 13.5);
  }
}

.sidebar-menu__item-link--new {
  position: relative;
}

.sidebar-menu__item-link--new::after {
  content: "Скоро";
  position: absolute;
  top: -2px;
  right: -25px;
  font-size: 0.6875rem;
  line-height: 1.2727272727;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 0px 8px;
  width: 50px;
  height: 15px;
  background: #eb5757;
  border-radius: 10px;
}

.burger__button {
  display: none;
}

#search-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.2);
  -webkit-transition: top 2s ease 0s;
  -o-transition: top 2s ease 0s;
  transition: top 2s ease 0s;
}

#search-popup.visible {
  display: block;
  top: 5.875rem;
}

#search-popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

#search-popup__input {
  background: #ffffff;
  width: 100%;
  padding: 0.625rem;
  color: #000;
  line-height: 1.2222222222;
}

#search-popup__input::-webkit-input-placeholder {
  color: #a4acad;
}

#search-popup__input::-moz-placeholder {
  color: #a4acad;
}

#search-popup__input:-ms-input-placeholder {
  color: #a4acad;
}

#search-popup__input::-ms-input-placeholder {
  color: #a4acad;
}

#search-popup__input::placeholder {
  color: #a4acad;
}

#search-popup__submit::after {
  content: "\e914";
  font-size: 1.75rem;
  color: #a4acad;
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
}

.sidebar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  text-align: center;
}

@supports (padding-top: clamp( 1.25rem , 0.2355072464rem  +  5.0724637681vw , 3.4375rem )) {
  .sidebar-info {
    padding-top: clamp( 1.25rem , 0.2355072464rem  +  5.0724637681vw , 3.4375rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.2355072464rem  +  5.0724637681vw , 3.4375rem )) {
  .sidebar-info {
    padding-top: calc(1.25rem + 2.1875 * (100vw - 20rem) / 43.125);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.2355072464rem  +  5.0724637681vw , 3.4375rem )) {
  .sidebar-info {
    padding-bottom: clamp( 1.25rem , 0.2355072464rem  +  5.0724637681vw , 3.4375rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.2355072464rem  +  5.0724637681vw , 3.4375rem )) {
  .sidebar-info {
    padding-bottom: calc(1.25rem + 2.1875 * (100vw - 20rem) / 43.125);
  }
}

.sidebar-info__cart {
  background: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}

.sidebar-info__cart,
.sidebar-info__location {
  width: 18.125rem;
}

.cart-info {
  padding-top: 0.75rem;
}

.cart-info__title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
}

.cart-info__title:not(:last-child) {
  margin-bottom: 0.4166666667em;
}

.cart-info__subtitle {
  line-height: 1.2222222222;
  color: #a4acad;
}

.cart-info__subtitle:not(:last-child) {
  margin-bottom: 1.3888888889em;
}

.cart-info__button {
  line-height: 0.9444444444;
  padding: 0.75rem 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #ff9846;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.location-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.location-info__map iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 18.125rem;
  height: 7.1875rem;
}

.location-info__text {
  padding: 2.5rem 0.3125rem 0.4375rem;
  background: #f2f2f2;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.location-info__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 0.8;
}

.location-info__title:not(:last-child) {
  margin-bottom: 0.4166666667em;
}

.location-info__title::before {
  content: "\e90f";
  color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2.375rem;
  background-color: #ff9846;
  position: absolute;
  top: -1.875rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.location-info__subtitle {
  line-height: 1.2222222222;
  color: #a4acad;
}

.header {
  background-color: #f2f2f2;
}

.header__inner {
  position: relative;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13.75rem 11.25rem 1fr;
  grid-template-columns: 13.75rem 11.25rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  padding: 0 0.9375rem;
}

@supports (gap: clamp( 0.625rem , 0.3351449275rem  +  1.4492753623vw , 1.25rem )) {
  .header__inner {
    gap: clamp( 0.625rem , 0.3351449275rem  +  1.4492753623vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.3351449275rem  +  1.4492753623vw , 1.25rem )) {
  .header__inner {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 43.125);
  }
}

.header__logo {
  display: none;
}

@supports (width: clamp( 3.125rem , 1.7736486486rem  +  6.7567567568vw , 5rem )) {
  .header__logo {
    width: clamp( 3.125rem , 1.7736486486rem  +  6.7567567568vw , 5rem );
  }
}

@supports not (width: clamp( 3.125rem , 1.7736486486rem  +  6.7567567568vw , 5rem )) {
  .header__logo {
    width: calc(3.125rem + 1.875 * (100vw - 20rem) / 27.75);
  }
}

@supports (height: clamp( 3.125rem , 1.7736486486rem  +  6.7567567568vw , 5rem )) {
  .header__logo {
    height: clamp( 3.125rem , 1.7736486486rem  +  6.7567567568vw , 5rem );
  }
}

@supports not (height: clamp( 3.125rem , 1.7736486486rem  +  6.7567567568vw , 5rem )) {
  .header__logo {
    height: calc(3.125rem + 1.875 * (100vw - 20rem) / 27.75);
  }
}

.header__logo img {
  max-width: 100%;
}

.info-header {
  text-align: center;
  border-right: 0.5px solid #a4acad;
}

.info-header__text {
  font-weight: 500;
  line-height: 1.2222222222;
  color: #111111;
}

.info-header__phone a {
  font-weight: 500;
  white-space: nowrap;
  color: #ff9846;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.info-header__clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.25rem;
  color: #a4acad;
  font-size: 0.875rem;
  line-height: 0.8235294118;
  font-weight: 500;
}

.info-header__clock::before {
  color: #ff9846;
  -webkit-transform: translate(0px, 7%);
      -ms-transform: translate(0px, 7%);
          transform: translate(0px, 7%);
}

.country-header__item {
  position: relative;
}

.country-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #a4acad;
}

.country-header__title--active {
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #000000;
}

.body-country {
  position: absolute;
  top: 120%;
  left: -15%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
  padding: 1.25rem 1.875rem;
}

.body-country div:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.body-country__list {
  cursor: pointer;
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  -o-transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.menu-header__link {
  line-height: 0.8181818182;
  color: #111111;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (margin-left: clamp( 1.25rem , -11.3112745098rem  +  24.5098039216vw , 4.375rem )) {
  .menu-header__search {
    margin-left: clamp( 1.25rem , -11.3112745098rem  +  24.5098039216vw , 4.375rem );
  }
}

@supports not (margin-left: clamp( 1.25rem , -11.3112745098rem  +  24.5098039216vw , 4.375rem )) {
  .menu-header__search {
    margin-left: calc(1.25rem + 3.125 * (100vw - 51.25rem) / 12.75);
  }
}

.menu-header__search::after {
  content: "\e914";
  font-size: 1.875rem;
  color: #a4acad;
  cursor: pointer;
}

@supports (font-size: clamp( 1.625rem , 0.8788910506rem  +  1.5564202335vw , 1.875rem )) {
  .menu-header__search::after {
    font-size: clamp( 1.625rem , 0.8788910506rem  +  1.5564202335vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 0.8788910506rem  +  1.5564202335vw , 1.875rem )) {
  .menu-header__search::after {
    font-size: calc(1.625rem + 0.25 * (100vw - 47.9375rem) / 16.0625);
  }
}

.footer {
  background-color: #f2f2f2;
}

.footer__top {
  color: #a4acad;
}

.footer__text-top {
  position: relative;
}

.footer__text-top.active::before {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: 0;
  right: 0;
  height: 30%;
  background: -webkit-gradient(linear, left bottom, left top, from(#F2F2F2), to(rgba(255, 255, 255, 0.2)));
  background: -o-linear-gradient(bottom, #F2F2F2, rgba(255, 255, 255, 0.2));
  background: linear-gradient(to top, #F2F2F2, rgba(255, 255, 255, 0.2));
}

.footer__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0.8;
}

.footer__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__text--list {
  margin-top: 0.625rem;
}

.footer__list {
  margin: 0.625rem 0px 0.625rem 0px;
}

.footer__list-item {
  padding: 0px 0px 0px 25px;
  position: relative;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 0.2777777778em;
}

.footer__list-item::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #a4acad;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  z-index: 1;
}

.footer__spollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transition: column-reverse 0.3s ease 0s;
  -o-transition: column-reverse 0.3s ease 0s;
  transition: column-reverse 0.3s ease 0s;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.625rem;
  margin: 0.625rem auto 0.625rem;
  color: #ff9846;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 0.8565436242rem  +  1.3422818792vw , 1.5rem )) {
  .footer__button {
    font-size: clamp( 1.125rem , 0.8565436242rem  +  1.3422818792vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.8565436242rem  +  1.3422818792vw , 1.5rem )) {
  .footer__button {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 27.9375);
  }
}

.footer__button.active::before {
  -webkit-transform: translate(0px, 35%) rotate(90deg);
      -ms-transform: translate(0px, 35%) rotate(90deg);
          transform: translate(0px, 35%) rotate(90deg);
}

.footer__button::before {
  -webkit-transform: translate(0px, 35%) rotate(-90deg);
      -ms-transform: translate(0px, 35%) rotate(-90deg);
          transform: translate(0px, 35%) rotate(-90deg);
}

@supports (font-size: clamp( 0.875rem , 0.6065436242rem  +  1.3422818792vw , 1.25rem )) {
  .footer__button::before {
    font-size: clamp( 0.875rem , 0.6065436242rem  +  1.3422818792vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6065436242rem  +  1.3422818792vw , 1.25rem )) {
  .footer__button::before {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 27.9375);
  }
}

.footer__nav {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.1875rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 0.5px solid #a4acad;
  background-color: #ffffff;
  padding: 10px;
  z-index: 10;
  height: 70px;
  display: none;
}

.footer__item {
  text-align: center;
}

.footer__menu {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #111111;
}

.footer__menu::before {
  font-size: 1.875rem;
  color: #ff9846;
}

.footer__bottom {
  padding: 0px 0px 20px 0px;
}

@supports (padding-top: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 1.875rem )) {
  .intro {
    padding-top: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 1.875rem )) {
  .intro {
    padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 43.125);
  }
}

@supports (padding-bottom: clamp( 0.625rem , -1.2439083821rem  +  3.8986354776vw , 1.875rem )) {
  .intro {
    padding-bottom: clamp( 0.625rem , -1.2439083821rem  +  3.8986354776vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , -1.2439083821rem  +  3.8986354776vw , 1.875rem )) {
  .intro {
    padding-bottom: calc(0.625rem + 1.25 * (100vw - 47.9375rem) / 32.0625);
  }
}

.intro__slider:not(:last-child) {
  margin-bottom: 0.625rem;
}

.intro__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 59.375rem;
  max-height: 29.375rem;
}

.intro__link {
  width: 100%;
}

.intro__link img {
  height: 100%;
  max-height: 29.375rem;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

.intro__pagination span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #a4acad;
  border-radius: 50%;
  cursor: pointer;
}

.intro__pagination span.swiper-pagination-bullet-active {
  background-color: #ff9846;
}

.intro__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.intro__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10.125rem;
          flex: 1 1 10.125rem;
}

.intro__item--mark::after {
  content: "Скоро";
  font-size: 0.6875rem;
  text-transform: uppercase;
  line-height: 1.2727272727;
  color: #fff;
  background: #eb5757;
  border-radius: 0.625rem;
  padding: 0.0625rem 0.5rem;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  z-index: 3;
}

.intro__item img {
  width: 100%;
  max-width: 100%;
  max-height: 10.125rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 5px;
}

.intro__text {
  font-weight: 500;
  line-height: 1.2222222222;
  color: #fff;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  z-index: 2;
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 1.875rem )) {
  .recommend {
    padding-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 1.875rem )) {
  .recommend {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 43.125);
  }
}

.recommend__items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 0.625rem , -16.0416666667rem  +  16.6666666667vw , 1.875rem )) {
  .recommend__items {
    gap: clamp( 0.625rem , -16.0416666667rem  +  16.6666666667vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.625rem , -16.0416666667rem  +  16.6666666667vw , 1.875rem )) {
  .recommend__items {
    gap: calc(0.625rem + 1.25 * (100vw - 100rem) / 7.5);
  }
}

.recommend__item {
  position: relative;
  -webkit-transition: outline 0.3s ease 0s;
  -o-transition: outline 0.3s ease 0s;
  transition: outline 0.3s ease 0s;
}

.recommend__item--order {
  display: none;
}

.recommend__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@supports (gap: clamp( 0.625rem , -39.2025862069rem  +  41.3793103448vw , 1.375rem )) {
  .recommend__row {
    gap: clamp( 0.625rem , -39.2025862069rem  +  41.3793103448vw , 1.375rem );
  }
}

@supports not (gap: clamp( 0.625rem , -39.2025862069rem  +  41.3793103448vw , 1.375rem )) {
  .recommend__row {
    gap: calc(0.625rem + 0.75 * (100vw - 96.25rem) / 1.8125);
  }
}

.recommend__image {
  max-width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.recommend__image--big {
  width: 29.375rem;
  height: 12.5rem;
}

.recommend__image--small {
  width: 14rem;
  height: 12.5rem;
}

.recommend__text {
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
  z-index: 2;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
}

@supports (padding-bottom: clamp( 5rem , 4.4202898551rem  +  2.8985507246vw , 6.25rem )) {
  .product {
    padding-bottom: clamp( 5rem , 4.4202898551rem  +  2.8985507246vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 5rem , 4.4202898551rem  +  2.8985507246vw , 6.25rem )) {
  .product {
    padding-bottom: calc(5rem + 1.25 * (100vw - 20rem) / 43.125);
  }
}

.product__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.product__navigation:not(:last-child) {
  margin-bottom: 1.875rem;
}

.product__title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #a4acad;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product__title:hover,
.product__title._tab-active {
  color: #000;
  text-decoration: none;
}

.product__body {
  position: relative;
}

.product__slider {
  overflow: hidden;
}

.product__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.product__item {
  background-color: #fff;
  padding: 0px 1.125rem 0.625rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__image {
  width: 15.8125rem;
  height: 12.6875rem;
  margin: 0 auto;
}

.product__image img {
  max-width: 100%;
}

.product__image:not(:last-child) {
  margin-bottom: 1.875rem;
}

.product__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 0.8;
}

.product__name:not(:last-child) {
  margin-bottom: 1.25em;
}

.product__info {
  color: #a4acad;
  line-height: 1.2222222222;
}

.product__info:not(:last-child) {
  margin-bottom: 1.1111111111em;
}

.product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  position: relative;
  padding: 0.625rem 0px 0px 0px;
}

.product__footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0.5px solid #a4acad;
  opacity: 0.6;
}

.product__price {
  font-weight: 700;
  line-height: 1.25;
}

@supports (font-size: clamp( 1.25rem , 1.134057971rem  +  0.5797101449vw , 1.5rem )) {
  .product__price {
    font-size: clamp( 1.25rem , 1.134057971rem  +  0.5797101449vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.134057971rem  +  0.5797101449vw , 1.5rem )) {
  .product__price {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 43.125);
  }
}

.product__button {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #f2f2f2;
  border-radius: 5px;
  padding: 0.3125rem 2.625rem;
}

@supports (left: clamp( -6.875rem , 50rem  +  -50vw , -4.375rem )) {
  .product__prev {
    left: clamp( -6.875rem , 50rem  +  -50vw , -4.375rem );
  }
}

@supports not (left: clamp( -6.875rem , 50rem  +  -50vw , -4.375rem )) {
  .product__prev {
    left: calc(-4.375rem + -2.5 * (100vw - 108.75rem) / 5);
  }
}

.product__prev::after {
  content: "\e900";
}

@supports (right: clamp( -6.875rem , 50rem  +  -50vw , -4.375rem )) {
  .product__next {
    right: clamp( -6.875rem , 50rem  +  -50vw , -4.375rem );
  }
}

@supports not (right: clamp( -6.875rem , 50rem  +  -50vw , -4.375rem )) {
  .product__next {
    right: calc(-4.375rem + -2.5 * (100vw - 108.75rem) / 5);
  }
}

.product__next::after {
  content: "\e900";
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.product__prev,
.product__next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  z-index: 2;
  font-size: 1.6875rem;
  color: #fff;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 0.7232142857rem  +  2.0089285714vw , 1.6875rem )) {
  .product__prev,
  .product__next {
    font-size: clamp( 1.125rem , 0.7232142857rem  +  2.0089285714vw , 1.6875rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.7232142857rem  +  2.0089285714vw , 1.6875rem )) {
  .product__prev,
  .product__next {
    font-size: calc(1.125rem + 0.5625 * (100vw - 20rem) / 28);
  }
}

@supports (width: clamp( 2.8125rem , 2.1428571429rem  +  3.3482142857vw , 3.75rem )) {
  .product__prev,
  .product__next {
    width: clamp( 2.8125rem , 2.1428571429rem  +  3.3482142857vw , 3.75rem );
  }
}

@supports not (width: clamp( 2.8125rem , 2.1428571429rem  +  3.3482142857vw , 3.75rem )) {
  .product__prev,
  .product__next {
    width: calc(2.8125rem + 0.9375 * (100vw - 20rem) / 28);
  }
}

@supports (height: clamp( 2.8125rem , 2.1428571429rem  +  3.3482142857vw , 3.75rem )) {
  .product__prev,
  .product__next {
    height: clamp( 2.8125rem , 2.1428571429rem  +  3.3482142857vw , 3.75rem );
  }
}

@supports not (height: clamp( 2.8125rem , 2.1428571429rem  +  3.3482142857vw , 3.75rem )) {
  .product__prev,
  .product__next {
    height: calc(2.8125rem + 0.9375 * (100vw - 20rem) / 28);
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .info-header__connect:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .intro__mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .menu-header__search {
    margin-left: inherit;
  }
}

@media (max-width: 90em) {
  .wrapper__column--main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }

  .wrapper__column--info {
    display: none;
  }
}

@media (max-width: 64em) {
  .wrapper__column--menu {
    position: absolute;
    left: -100%;
    z-index: 10;
    width: 11.875rem;
    -webkit-transition: left 0.3s ease 0.2s;
    -o-transition: left 0.3s ease 0.2s;
    transition: left 0.3s ease 0.2s;
  }

  .wrapper__column--menu.visible {
    left: 0%;
  }

  .wrapper__column--main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }

  .header {
    border-bottom: 1px solid #a4acad;
  }
}

@media (max-width: 107.5em) {
  .product__prev {
    left: 40%;
  }

  .product__next {
    right: 40%;
  }

  .product__prev,
  .product__next {
    top: 110%;
  }
}

@media (max-width: 98.12375em) {
  .recommend__item,
  .recommend__row,
  .recommend__image--big,
  .recommend__image--small {
    width: 100%;
  }
}

@media (max-width: 77.5em) {
  .wrapper {
    -ms-grid-columns: minmax(auto, 11.875rem) 1fr minmax(auto, 23.125rem);
    grid-template-columns: minmax(auto, 11.875rem) 1fr minmax(auto, 23.125rem);
  }
}

@media (max-width: 64rem) {
  .burger__button {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .burger__button span,
  .burger__button::before,
  .burger__button::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .burger__button::before {
    top: 0;
  }

  .burger__button::after {
    bottom: 0;
  }

  .burger__button span {
    top: calc(50% - 0.0625rem);
  }

  .burger__button.close span {
    width: 0;
  }

  .burger__button.close::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .burger__button.close::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 61.99875em) {
  .header__inner {
    -ms-grid-columns: 12.5rem 11.25rem 1fr;
    grid-template-columns: 12.5rem 11.25rem 1fr;
  }
}

@media (max-width: 51.25em) {
  .menu-header__search {
    margin-left: inherit;
  }
}

@media (max-width: 47.99875em) {
  .burger {
    display: none;
  }

  .header__inner {
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }

  .header__logo {
    display: block;
  }

  .header__country {
    display: none;
  }

  .info-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.8125rem;
  }

  .info-header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-header__clock::before {
    font-size: 1.125rem;
    margin-bottom: 0.3125rem;
  }

  .info-header__clock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

@supports (font-size: clamp( 0.875rem , 0.6956278027rem  +  0.8968609865vw , 1.125rem )) {
    .info-header__clock {
      font-size: clamp( 0.875rem , 0.6956278027rem  +  0.8968609865vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6956278027rem  +  0.8968609865vw , 1.125rem )) {
    .info-header__clock {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 27.875);
    }
}

  .info-header__clock::before {
    -webkit-transform: translate(0px, 20%);
        -ms-transform: translate(0px, 20%);
            transform: translate(0px, 20%);
  }

  .menu-header__list {
    display: none;
  }

  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__bottom {
    padding: 0px 0px 90px 0px;
  }

  .intro__pc {
    display: none;
  }

  .recommend__item--order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }

  .recommend__item--none {
    display: none;
  }

  .product__prev {
    left: 30%;
  }

  .product__next {
    right: 30%;
  }
}

@media (max-width: 29.99875em) {
  .info-header {
    border-right: none;
  }
}

@media (max-width: 26.5625em) {
  .info-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }

  .info-header__clock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 47.99875em) and (min-width: 47.875em) {
  .info-header__clock {
    font-size: inherit;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #ff9846;
  }

  .sidebar-menu__item-link:hover {
    color: #ff9846;
  }

  .cart-info__button:hover {
    background-color: #f46d40;
  }

  .info-header__phone a:hover {
    color: #f46d40;
  }

  .body-country__list:hover {
    text-decoration: underline;
  }

  .menu-header__link:hover {
    color: #ff9846;
  }

  .menu-header__search:hover:after {
    color: #ff9846;
  }

  .recommend__item:hover {
    border-radius: 5px;
    outline: 3px solid #ff9846;
  }

  .product__prev:hover,
  .product__next:hover {
    background-color: #ff9846;
  }
}